# ==========================================
# Frontend API
# ==========================================

VITE_API_BASE_URL=https://toystorekochi.store/api/v1


# ==========================================
# Google Authentication
# ==========================================

VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com